@model EnrolledCourseDetailModel

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <h4>@Model.Title</h4>
        <br />
        <iframe width="560"
                height="315"
                src="@Model.VideoUrl"
                frameborder="0"
                allowfullscreen></iframe>

        <br />
        
    </div>
    <div class="col-md-2"></div>
</div>