<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] | e-Edu</title>

    <partial name="_StylesPartial"/>
    @await RenderSectionAsync("Styles", required: false)

</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <partial name="_TopbarPartial" />

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <partial name="_SidebarPartial" />
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            @RenderBody()
            <!-- /.content -->
        </div>

        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <partial name="_FooterPartial" />
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->

    </div>
    <!-- ./wrapper -->
    
    <partial name="_ScriptsPartial" />
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
