@{
    ViewData["Title"] = "Access Denied";
}
<div class="register-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center" style="background-color:#15161D;border-bottom: 3px solid #D10024;">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="h2" style="color:#fff;">
                <b>e-Edu</b>
            </a>
        </div>
        <div class="card-body text-center">
            <img src="~/common/img/danger.png" height="40px" width="40px" />
            <h3>Access Denied</h3>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>