@model SignUpModel
@{
    ViewData["Title"] = "Sign Up";
}

<div class="register-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center" style="background-color:#15161D;border-bottom: 3px solid #D10024;">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="h2" style="color:#fff;">
                <b>e-Edu</b>
            </a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Sign up as member</p>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form id="SignUpForm" asp-antiforgery="true" asp-controller="Account" asp-action="SignUp" method="post">

                <input type="hidden" asp-for="ReturnUrl" />

                <div class="input-group mb-3">
                    <input type="text" class="form-control" asp-for="FirstName" placeholder="First name">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                    <span asp-validation-for="FirstName" class="text-danger input-group"></span>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" asp-for="LastName" placeholder="Last name">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="email" class="form-control" asp-for="Email" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                    <span asp-validation-for="Email" class="text-danger input-group"></span>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                    <span asp-validation-for="Password" class="text-danger input-group"></span>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Retype password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger input-group"></span>
                </div>
                <div class="row">
                    <div class="col-3">
                    </div>
                    <!-- /.col -->
                    <div class="col-6">
                        <button type="submit" class="btn btn-danger btn-block">Sign Up</button>
                    </div>
                    <div class="col-3">
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <div class="text-center">
                <br />
                <p>-OR-</p>
                <a asp-area="Identity" asp-controller="Account" asp-action="SignIn" class="text-center">Sign In</a>
            </div>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>
<!-- /.register-box -->
