<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="card-image" >
                <img src="UploadedFiles/Course/Thumbnail/592b5b64-40c6-48e7-b9f9-149e3232e48b.png" style="height: 100%; width: 100%; display:block;" />
            </div>
            <div class="card-head">
                <p style="padding: 10px 0;"><strong>Price : </strong> BDT 25000</p>

                <h5>This is course title</h5>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <a href="#" class="btn btn-sm btn-block btn-info">Course Details</a>
                </div>
            </div>
        </div>
    </div>
</div>