<div class="col-md-4">
    <ul class="list-group">
        <li class="list-group-item"><img src="UploadedFiles/Course/Thumbnail/592b5b64-40c6-48e7-b9f9-149e3232e48b.png" style="height: 100%; width: 100%; display:block;" /></li>
        <li class="list-group-item"><h5>This is course title</h5></li>
        <li class="list-group-item"><span style="font-weight:500">Category :</span> UI/UX Design</li>
        <li class="list-group-item"><span style="font-weight:500">Difficulty :</span> Beginer</li>
        <li class="list-group-item"><span style="font-weight:500">Price : </span> BDT. 25,000</li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-6">
                    <a href="#" class="btn btn-sm btn-block btn-primary"><i class="fa fa-list" aria-hidden="true"></i> Details</a>
                </div>
                <div class="col-md-6">
                    <a href="#" class="btn btn-sm btn-block btn-success"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to Cart</a>
                </div>
            </div>
        </li>
    </ul>
</div>