<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>e-Edu</title>
	<partial name="_StylesPartial" />
	@await RenderSectionAsync("Styles", required: false)
</head>
<body>
	<!-- HEADER -->
	<header>
		<!-- MAIN HEADER -->
		<div id="header">
			<partial name="_TopbarPartial" />
		</div>
		<!-- /MAIN HEADER -->
	</header>
	<!-- /HEADER -->

	<!-- NAVIGATION -->
	<nav id="navigation">
		<partial name="_NavigationPartial" />
	</nav>
	<!-- /NAVIGATION -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				@RenderBody()
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- FOOTER -->
	<footer id="footer">
		<!-- bottom footer -->
		<div id="bottom-footer" class="section">
			<partial name="_FooterPartial" />
		</div>
		<!-- /bottom footer -->
	</footer>
	<!-- /FOOTER -->

	<partial name="_ScriptsPartial"/>
	<partial name="_ValidationScriptsPartial" />
	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
