@using RecordedCourseSellingApp.DataAccess.Identity.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!-- container -->
<div class="container">
	<!-- responsive-nav -->
	<div id="responsive-nav">
		<!-- NAV -->
		<ul class="main-nav nav navbar-nav">
			@if (SignInManager.IsSignedIn(User))
			{
				<li><a asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
			}
			<li class="active"><a asp-area="" asp-controller="Course" asp-action="Index">Courses</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
		<!-- /NAV -->
	</div>
	<!-- /responsive-nav -->
</div>
<!-- /container -->