<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="alert alert-success" role="alert">
            <h5 style="text-align:center;">Payment successfully done !</h5>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
