
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-12">
                <div class="panel panel-danger" style="min-height: 300px;">
                    <div class="panel-heading">
                        Course Category
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Morbi leo risus</li>
                            <li class="list-group-item">Porta ac consectetur ac</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <partial name="_CourseCardParitial" />
        </div>
    </div>
</div>
